

@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');


form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      font-size: 20px;
      font-family: 'Saira Semi Condensed';
      font-weight: 600;
    }
    i {
      margin-right: 10px;
      color: #535353;
      font-weight: 600;
    }
    input, select {
      padding-left: 10px;
      width: 400px;
      height: 40px;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      font-family: 'Saira Semi Condensed';
      font-weight: 600;
      outline: none;
      &:active {
        background: #071aeb88;
      }
      @media(max-width: 410px) {
        width: 100%;
      }
    }
  }
  .form__btn {
     padding-left: 10px;
      max-width: 400px;
      height: 40px;
      font-family: 'Saira Semi Condensed';
      font-weight: 600;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 5px;
      border-top-left-radius: 5px;
      outline: none;
      &:active {
        background: #071aeb88;
      }
  }
}
.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    width: 80% !important;
}